*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: sans-serif;
}

.love-img{
  max-width: 250px;
  max-height: 250px;
}

.page-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url('./assets/bg-pattern.jpg');
}

.love-searchbox-container
{
  width: 100%;
  padding: .5rem;
}

.love-img-container{
  text-align: center;
}

.love-img-description{
  font-weight: bolder;
  font-size: 1.5rem;
  color: black;
}

#love-searchbox{
  width: inherit;
  padding: 10px;
  border-radius: 10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}


.parallax-slider {
  transition: opacity 0.4s ease-in;
  -webkit-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -ms-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  opacity: 1;
}
.transitioning-src {
  transition: opacity 0.4s ease-out;
  -webkit-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  -ms-transition: opacity 0.4s ease-out;
  -o-transition: opacity 0.4s ease-out;
  opacity: 0;
}
